# 1. Arquivos de Cache e Compilação do Python
__pycache__/
*.pyc
*.pyd
*.pyo

# 2. Ambiente Virtual
venv/
env/
.venv/

# 3. Banco de Dados e Dados Locais
*.db
*.sqlite
sqlite3.db
instance/
sgsv.db
*.env

# 4. Configurações de Ferramentas
.flaskenv
.vscode/
.idea/